<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
  , initial-scale=1.0"
    />
    <link rel="stylesheet" href="/style1.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form-group">
      <label for="institution">institution</label>
      <input
        required
        value="<%= entry.institution %>"
        type="text"
        name="institution"
        id="institution"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="field">field</label>
      <textarea name="field" id="field" class="form-control">
<%= entry.field %></textarea
      >
    </div>
    <div class="form-group">
      <label for="adress">Adress</label>
      <textarea name="adress" id="adress" class="form-control">
<%= entry.adress %></textarea
      >
    </div>
    <div class="form-group">
      <label for="number">Number</label>
      <textarea name="number" id="number" class="form-control">
<%= entry.number %></textarea
      >
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <textarea name="email" id="email" class="form-control">
<%= entry.email %></textarea
      >
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <textarea name="website" id="website" class="form-control">
<%= entry.website %></textarea
      >
    </div>
    <div class="form-group">
      <label for="institutionType">institutionType</label>
      <textarea
        name="institutionType"
        id="institutionType"
        class="form-control"
      >
<%= entry.institutionType %></textarea
      >
    </div>

    <a href="/" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
  </body>
</html>
