
  <body style="text-align: right">
    <div class="form-group">
      <label for="institution">منظمة</label>
      <input
        required
        value="<%= entry.institution %>"
        type="text"
        name="institution"
        id="institution"
        class="form-control text-right"
      />
    </div>
    <div class="form-group">
      <label for="field">المجال</label>
      <textarea name="field" id="field" class="form-control text-right">
<%= entry.field %></textarea
      >
    </div>
    <div class="form-group">
      <label for="adress">العنوان</label>
      <textarea name="adress" id="adress" class="form-control text-right">
        <%= entry.adress %></textarea
      >
    </div>
    <div class="form-group">
      <label for="number">رقم الهاتف</label>
      <textarea name="number" id="number" class="form-control text-right">
<%= entry.number %></textarea
      >
    </div>
    <div class="form-group">
      <label for="email">البريد الإلكتروني</label>
      <textarea name="email" id="email" class="form-control text-right">
<%= entry.email %></textarea
>
</div>
    <div class="form-group">
      <label for="website">موقع الإلكتروني</label>
      <textarea name="website" id="website" class="form-control text-right">
<%= entry.website %></textarea
      >
    </div>
    <div class="form-group">
      <label for="institutionType">نوع المؤسسة</label>
      <textarea
      name="institutionType"
        id="institutionType"
        class="form-control text-right"
        >
        <%= entry.institutionType %></textarea
        >
      </div>
      <div class="form-group" >
        <p>هل توجد خطة استراتيجية للتنمية</p>
      <div class="radio-buttons d-flex text-right">

        <div>
          <input type="radio" name="stratigicPlan" value="نعم" id="xs" class="text-right">
          <label for="stratigicPlan">نعم</label>
        </div>
        <div>
          <input type="radio" name="stratigicPlan" value="لا" id="s">
          <label for="stratigicPlan">لا</label>
        </div>
      </div>
      </div>
      <div class="form-group" >
        <p>الاهتمام بالعمل في محافظة أسوان</p>
      <div class="radio-buttons d-flex text-right">

        <div>
          <input type="radio" name="intrestedAswan" value="نعم" id="xs" class="text-right">
          <label for="intrestedAswan">نعم</label>
        </div>
        <div>
          <input type="radio" name="intrestedAswan" value="لا" id="s">
          <label for="intrestedAswan">لا</label>
        </div>
        <div>
          <input type="radio" name="intrestedAswan" value="محتمل" id="s">
          <label for="intrestedAswan">محتمل</label>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="demands">الاشتراطات الواجب توافرها في الجمعية طالبة المتحة</label>
      <textarea
      name="demands"
        id="demands"
        class="form-control text-right"
        ><%= entry.demands %></textarea>
      </div>
    <div class="form-group">
      <label for="supportType">نوع المشاركة والدعم</label>
      <textarea
      name="supportType"
        id="supportType"
        class="form-control text-right"
        >
        <%= entry.supportType %></textarea
        >
      </div>
      <div class="form-group" >
        <p>هل في موعد معين لتلقي الطلبات</p>
      <div class="radio-buttons d-flex text-right">

        <div>
          <input type="radio" name="orderTime" value="نعم" id="xs" class="text-right">
          <label for="orderTime">نعم</label>
        </div>
        <div>
          <input type="radio" name="orderTime" value="لا" id="s">
          <label for="orderTime">لا</label>
        </div>
      </div>
      </div>
          <div class="form-group">
      <label for="communicationType">كيفية التواصل من قبل الجمعيات</label>
      <textarea name="communicationType" id="communicationType" class="form-control text-right">
<%= entry.communicationType %></textarea
      >
    </div>
    <a href="/" class="btn btn-secondary">إلغاء
    </a>
    <button type="submit" class="btn btn-primary">حفظ</button>
  </body>
</html>
