<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/side-bar.css" />
    <link rel="stylesheet" href="/home.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <div class="main-container">
      <div class="side-bar"><%- include('../_side_bar') %></div>
      <div class="rest-content">
        <div class="side-bar"><%- include('../_top_nav') %></div>

        <div class="container">
          <div class="header">
            <h1 class="mb-4">All Entries</h1>
            <a href="/entries/new" class="btn btn-success">New Entry</a>
          </div>

          <% all.entries.forEach(article => { %>
          <div class="card mt-4">
            <div class="card-body">
              <h4 class="card-title"><%= article.institution %></h4>
              <div class="card-subtitle text-muted mb-2">
                <%= article.field %>
              </div>
              <div class="card-text mb-2"><%= article.description %></div>
              <a href="entries/<%= article.slug %>" class="btn btn-primary"
                >Read More</a
              >
              <a href="entries/edit/<%= article.id %>" class="btn btn-info"
                >Edit</a
              >
              <form
                action="/entries/<%= article.id %>?_method=DELETE"
                method="POST"
                class="d-inline"
              >
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <script>
      console.log("ahsa");
    </script>
  </body>
</html>
