<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/side-bar.css" />
    <link rel="stylesheet" href="/home.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <div class="main-container">
      <div class="side-bar"><%- include('../_side_bar') %></div>
      <div class="rest-content">
        <div class="side-bar"><%- include('../_top_nav') %></div>

        <div class="container">
          <div class="header">
            <h1 class="mb-4">جميع البيانات</h1>
            <a href="/entries/new" class="btn btn-success"
              >ادخال بيانات جديدة</a
            >
          </div>
          <div class="search-bar">
            <input
              type="text"
              id="searchBar"
              name="searchBar"
              class="searchBar text-right"
              placeholder="بحث"
            />
          </div>

          <div id="entry-container">
            <% all.entries.forEach(article => { %>
            <div class="card mt-4" id="entry-card">
              <div class="card-body text-right">
                <h4 class="card-title"><%= article.institution %></h4>
                <div class="card-subtitle text-muted mb-2">
                  <%= article.field %>
                </div>
                <form
                  action="/entries/<%= article.id %>?_method=DELETE"
                  method="POST"
                  class="d-inline"
                >
                  <button type="submit" class="btn btn-danger">مسح</button>
                </form>
                <a href="entries/<%= article.id %>" class="btn btn-primary"
                  >المزيد</a
                >
                <a href="entries/edit/<%= article.id %>" class="btn btn-info"
                  >التعديل</a
                >
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <script src="./search.js"></script>
  </body>
</html>
