<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Entry</title>
  </head>
  <body style="text-align: right">
    <div class="container">
      <h1 class="mb-1"><%= entry.institution %></h1>
      <h3><%= entry.field %></h3>
      <h4><%= entry.institutionType %></h4>
      <p><%= entry.address %></p>
      <p><%= entry.email %></p>
      <p><%= entry.number %></p>
      <h5>هل توجد خطة استراتيجية للتنمية</h5>
      <p><%= entry.stratigicPlan %></p>
      <h5>الاهتمام بالعمل في محافظة أسوان</h5>
      <p><%= entry.intrestedAswan %></p>
      <h5>الاشتراطات الواجب توافرها في الجمعية طالبة المتحة</h5>
      <p><%= entry.demands %></p>
      <h5>نوع المشاركة والدعم</h5>
      <p><%= entry.supportType %></p>
      <h5>كيفية التواصل من قبل الجمعيات</h5>
      <p><%= entry.communicationType %></p>
      <h5>هل في موعد معين لتلقي الطلبات</h5>
      <p><%= entry.orderTime %></p>

      <a href="/" class="btn btn-secondary">الرجوع</a>
      <a href="/entries/edit/<%= entry.id %>" class="btn btn-info">التعديل</a>
    </div>
  </body>
</html>
