<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/side-bar.css" />
    <link rel="stylesheet" href="/manage.css" />

    <title>Users</title>
  </head>
  <body>
    <div class="main-container">
      <div class="side-bar"><%- include('../_side_bar') %></div>
      <div class="rest-content">
        <div><%- include('../_top_nav') %></div>
        <div class="container">
          <h1 class="mb-4 text-center">User Management</h1>

          <% users.forEach(user => { %>
          <div class="card mt-4">
            <div class="card-body">
              <h4 class="card-title"><%= user.name %></h4>

              <div class="card-text mb-2"><%= user.email %></div>
              <form
                action="/users/<%= user.id %>?_method=DELETE"
                method="POST"
                class="d-inline"
              >
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
